.form-container.container {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid gray;
  min-width: calc(20vw - 20px);
  border-radius: 15px;
}

.tituloceleste {
  color:#5dade2;
}

.modalPersonalizado {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.hrstyle {
  margin: 10px 0;
  border: #5dade2;
  border-bottom: 5px solid #5dade2;
}

.hrstyle2 {
  margin-top: 4rem;
  border: #5dade2;
  border-bottom: 5px solid #5dade2;
}

.spanObligatorio {
  color: red;
  margin-left: 5px;
}
